   <h2>了解した人：</h2>
            <% @message.reads.each do |read| %>
              <span class='star-count'><%= read.user.name %> / </span>
            <% end %>
            <div><%= link_to '戻る', :back, class: 'btn'%></div>
